<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p><small>Copyright &copy; Ahmed El Masry <%= Time.now.year %></small></p>
      </footer>
    </div>
  </div>
</div>